{% extends 'tienda/main.html' %}
{% load static %}
{% block content %}

<html>
<head>
<title>tienda</title>
<h3>TIENDA</h3>

<div class="row">
	<div class="col-lg-4">
        <h3>JHFLJHASFAKSF</h3>
        <img class="thumbnail" src="{% static 'placeholder.png' %}">
		<div class="box-element product">
        
            

		</div>
	</div>

	<div class="col-lg-4">
		<div class="box-element product">
			
		</div>
	</div>

	<div class="col-lg-4">
		<div class="box-element product">

		</div>
	</div>
    {% endblock content %}
</div>
</head>
<body>
</body>
</html>



